#!/bin/bash
PORT=8888
EMAIL=...
TESSEL_ADDR=...
AUTH_KEY=...
HUE_IP=...
HUE_KEY=...
PUSHOVER_KEY=...
GARAGE_BUTTON_MAC=...
ETEK_USER=...
ETEK_PASS=...

#export node="/home/felix/node8/bin/node"
#node="node"
echo Running node $(node --version) at $(which node)
cd /home/felix/GarageDoorMonitor/server && /home/felix/node8/bin/node index.js $PORT $EMAIL $TESSEL_ADDR $AUTH_KEY $HUE_IP $HUE_KEY $PUSHOVER_KEY $GARAGE_BUTTON_MAC $ETEK_USER $ETEK_PASS
